* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e5f2;
    color: #333;
}


#cabecera-principal {
    background-color: rgba(58, 75, 100, 0.9);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 20px 40px;
}

#menu-navegacion {
    list-style: none;
    display: flex;
    gap: 20px;
}

#menu-navegacion a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#menu-navegacion a:hover {
    text-decoration: underline;
}
.seccion-hero{
    position: relative;
    height: 500px;
    background-image: url("/IMG/encabezado.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.seccion-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}
.contenido-hero {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 0 20px;
}

.contenido-hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contenido-hero p {
    font-size: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#seccion-principal {
    text-align: center;
    padding: 40px;
}

#seccion-principal h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Sección de Reseñas */
#seccion-reseñas {
    padding: 50px;
    text-align: center;
}

#seccion-reseñas h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

#contenedor-juegos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tarjeta-juego {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.tarjeta-juego:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2)
}

.tarjeta-juego img {
    transition: all 0.3s ease;
}
.tarjeta-juego:hover img {
    transform: scale(1.1);
}

.tarjeta-juego h3 {
    font-size: 24px;
    margin: 10px 0;
}

.caracteristicas {
    padding: 60px 20px;
    background: linear-gradient(to bottom, #e0e5f2, #ffffff);
}

.contenedor-caracteristicas {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
}

.caracteristica {
    text-align: center;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.caracteristica:hover {
    transform: translateY(-5px);
}

.icono {
    font-size: 40px;
    margin-bottom: 20px;
}
/* Pie de Página */
#pie-pagina {
    background-color: #3a4b64;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}